* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image : url(img/bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
h1 {
  font-size: 60px;
  color : transparent;
  background-image: url(img/text\ bg.jpg);
  background-size: cover;
  background-clip: text;
  margin-bottom: 50px;
  animation: animate 20s linear infinite;
}
@keyframes animate{
  to{
    background-position-x : -500px;

  }
}
.calculator {
  width: 320px;
  border-radius: 10px;
  background-color: #7d5790;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.display {
  height: 60px;
  font-size: 24px;
  text-align: right;
  padding: 5px;
  background-color: #99bb68;
  border: 1px solid #c76e6e;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: auto;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 5px;
}
button {
  height: 80px;
  width: 70px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b8972d;
}
button:hover {
  background-color: #eff0e8;
}
